main {
  flex: 1 0 auto; 
  padding:  6vw 0 1% 0% ;  
  width: 90%;
  height: 100%;
  justify-self: flex-start;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 2%;
  max-height: 85vh;
}

.left-part , .visual , .catalog , .model , .right-part .price , .description , .filter , .all-description , .configure , .little-visual{
  height: 100%;
  width: 100%;
}
.model , .right-part .price  , .brand , .configureBtn , .presentation-info , .filter , .all-description , .little-visual , .box-bottom {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);

}


.left-part {
  height: 100%;
  width: 70%;
  display: flex ;
  align-items:flex-start;
  flex-direction: column;
  justify-content:space-between;
  align-self: flex-start;
  max-height: 43vw;
}

.visual {
   height:75%;
   position: relative;

}


.left-part.expand-visual{
   height: 100%;
   width: 100%;
  transition: all 0.5s ease-in-out;
}

.left-part.expand-visual .visual{
  height: 100%;
  width: 100%;
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  position: relative;
  transition: all 0.5s ease-in-out;

}



.expandBtn {
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  top: 0.5vw;
  right: 0.5vw;
  padding: 0.7vw;
  border-radius: 0.4vw;

}
.expandBtn img {
  width: 1vw;
  height: 1vw;
}


.shape-Models {
  width: 100%;
  height: 100%;
  filter: var(--shadow-filter);
}

.more-models  {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6vw;
    margin: 0;
    padding-left: 0.5vw;
    border-radius: 90vw;
    cursor: pointer;
    border: none;
    background: none;
}


.more-models p {
    margin: 0;
    font-weight: 600;
}

.more-models:hover {
    background-color: var(--opacity-color);
}

.more-models:hover img {
    transform: rotate(-180deg);
}

.more-models img.rotated {
  transform: rotate(-180deg);
}

.more-models img {
  width: 0.8vw;
  height: 0.8vw;
  transform: rotate(-90deg);
  border-radius: 90vw;
  background-color: var(--secondary-color);
  padding: 0.5vw;
  filter: invert(100%);
}


.searchBox-more-models-container{
  position: absolute;
  bottom : 0 ;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2vw;
}

.searchBox {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  border: 0.02vw solid black;
  border-radius: 90vw;
  position: relative;
  width: 15vw;
  height: 2.5vw;
}

.searchButton {
  position: absolute;
  right: 0;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.02vw solid black;
  border-radius: 90vw;
  background: var(--primary-color);
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  0 -0.05vw 0 0 ;
  cursor: pointer;
  padding: 1vw;
}

.searchBox button:hover {
  color: #fff;
  background: var(--secondary-color);
  border: 0.02vw solid black;
}

.searchButton img{
  filter: invert(100%);
  width: 1.5vw;
  height: 1.5vw;
}
.searchButton:hover img{
  filter: invert(0%);
}

.searchInput {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: black;
  font-size: 0.8vw;
  align-self: center;
  padding: 1.5vw;
}


.catalog {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-top: 2vw;
  align-self: flex-end;
  padding-bottom: 1vw;
  max-height: 9vw;
  height: 100%;
}

.card {
  height: 60%;
  max-height: 4vw;
  border-radius: var(--border-radius);
  aspect-ratio: 4 ;
  flex: 0 0 auto; /* important pour les scroll horizontal */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1vw;
  align-self: flex-end;
  overflow: visible;
  color: #fff;
}

.name {
  font-weight: bold;
}

.card img {
  position: absolute;
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 1vw;
  top: -35%;
  left: 5%;
  z-index: 0;
}

.all-price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.4vw;
  margin: 0;
  opacity: 50%;
}
.all-price .price {
  font-size: 0.8vw;
  margin: 0;
  font-weight: 600;
}
.all-price .explanation {
  font-size: 0.4vw;
  margin: 0 0 0.1vw 0;
}



.visual.hide-svg {
    height: 10%;
    overflow: hidden;
    transition: height 0.6s ease;
    margin:  0vw 0  1vw 0;
    padding: 1vw 0 0  0;
}
.visual.hide-svg .shape-Models {
    display: none;
    
}

/* Agrandir le catalogue */
.catalog.expanded {
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: visible;
    row-gap: 3vw;
    column-gap: 1.5vw;
    padding: 3vw 0;
    transition: all 0.5s ease-in-out;
}

/* Les cartes prennent 30% de largeur */
.catalog.expanded .card {
    width: max-content;
    min-width: 28%;
    height: auto;
    max-height: none;
    border-radius: var(--border-radius);
    aspect-ratio: 4 ;
}













.right-part {
  width: 25%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 4%;

  max-height: min(43vw, 85vh);
  position: fixed;
  right: 5%;
  top:6vw
}

.model { grid-area: 1 / 1 / 2 / 2; }
.right-part .price { grid-area: 1 / 2 / 2 / 3; }
.description { grid-area: 2 / 1 / 3 / 3; }
.part-bottom { grid-area: 3 / 1 / 4 / 3; }
.filter{ grid-area: 2 / 1 / 4 / 3; }


.right-part.view_description {
  width: 25%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 4%;
  max-height: min(43vw, 85vh);
  position: fixed;
  right: 5%;
  top:6vw

}

.right-part.view_description .little-visual { grid-area: 2 / 1 / 3 / 3; }


.little-visual {
  display: none;
  height: 13.6vw;
}




.model , .right-part .price {
  height: 6.5vw;
  width: 100%;
}

.model {
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 1vw;
  flex-direction: column;
  justify-content: space-between;
}

.model img {
  position: absolute;
  width: 10%;
  top: 1vw;
  right: 2vw;
}

.model .title {
  align-self: flex-start;
  justify-self: flex-start;
  font-weight: 300;
}
.model .name-model {
  align-self: flex-end;
  justify-self: flex-end;
  font-weight: 700;
}

.right-part .price {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
}
.right-part .price p {
  font-size: 1.1vw;
}


.description {
  position: relative;
  overflow: visible;
  width: 100%;
  height: 100%;
}
.little-description {
  width: 100%;
  height: 100%;
  position: relative;
}

.shape-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.configure .more-description {
  display: none;
}
.more-description {
  position: absolute;
  top: 0;
  right: 0;
  display : flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  cursor: pointer;
  padding: 0.7vw;
  z-index: 100;
}

.more-description img{
  width: 1.8vw;
  height: 1.8vw;
}

.description .text {
  position: absolute;
  z-index: 2;
  padding: 1.5vw 1vw;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  background-color: none;
}

.text h5 {
  margin-bottom: 2vw;
}
.text .start-description {
  height: 100%;
}

.fade-shadow {
  content: "";
  position: absolute;
  bottom: 0vw;
  left: 0;
  width: 100%;
  height: 6vw;
  background: linear-gradient(to top, var(--secondary-color), transparent);
  pointer-events: none;
  border-radius: var(--border-radius);
}

.more-description {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: 0.5vw;
}


.part-bottom {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 35vh;
  gap: 1vw;; 
}

.brand {
  flex: 1;
  height: 100%;
  min-width: 3vw; 
  position: relative;
  overflow: hidden;
}
.brand img {
  position :absolute ;
}
.brand .logo-customers {
  top: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.brand .img-customers {
  bottom: -2vw;
  width: 120%;
}

.presentation-configure {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1vw;
}

.presentation-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5vw; 
  aspect-ratio: 1/1; 
  width: 100%;
  height: 75%;
  
}

.presentation-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 0.5vw;
  padding: 0.5vw;
  text-align: center;
  font-size: 0.7vw;
}
.presentation-info img {
    width: 2.8vw;
}


.configureBtn {
  width: 100%;
  height: 100%; 
  border-radius: 0.5vw;
  border: 0.3vw solid var(--primary-color);
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  cursor: pointer;

}



.configureBtn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-left: 0vw;
  
}
.configureBtn img{
  width: 1vw;
  height: 1vw; 
  opacity: 0%;

}

.configureBtn:hover img{
  opacity: 1;
  transform: translateX(1vw);
  filter: invert(100%);
}


.filter {
  display: none;
}

.all-description {
    display: none;
    max-height: none;
    min-height: 100%;
    overflow-y: visible;
    overflow-x: auto;
    row-gap: 3vw;
    column-gap: 1.5vw;
    padding: 3vw 3vw;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}



.custom-box {
  display: flex;
  flex-direction: column;
  height: 100%; /* pour prendre 100% de .description */
  z-index: 0;
}

.box-top,
.box-bottom {
  width: 100%;
  line-height: 0;

}
.box-top {
  filter: var(--shadow-filter);
}

.box-bottom {
  background-color: white;
  flex: 1; 
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  z-index: 1;
}


@media (max-height: 45vw) {
.right-part {
    width: 25%;
    height: 80%;
    display: grid;
  grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; /* ici la correction */
    grid-column-gap: 6%;
    grid-row-gap: 6%;
    
    position: fixed;
    right: 5%;
    top: 6vw;
}
  .little-visual { grid-area: 1 / 1 / 2 / 3; }
  .model { grid-area: 2 / 1 / 3 / 2; }
  .right-part .price { grid-area: 2 / 2 / 3 / 3; }
  .part-bottom { grid-area: 3 / 1 / 4 / 3; }

  .little-visual {
    display: block !important;
  }

  .description {
    display: none;
  }
  .brand {
    display: none;
  }
  .presentation-icons {
    display: none
  }

.part-bottom {
  width: 100%;
  height: 100%;
  display: flex; /* ou grid si tu préfères */
  flex-direction: column;
  box-sizing: border-box;
  max-height: none;
}
.presentation-configure {
  width: 100%;
  height: 100%;
  gap: 1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
}



.configureBtn {

  width: 100%;
  height: 3vw; 
  border-radius: 0.5vw;
  border: 0.3vw solid var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  cursor: pointer;
  box-sizing: border-box;
}


.catalog {
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: visible;
    row-gap: 3vw;
    column-gap: 1.5vw;
    padding: 3vw 0;
    transition: all 0.5s ease-in-out;
}

/* Les cartes prennent 30% de largeur */
.catalog .card {
    width: max-content;
    min-width: 28%;
    height: auto;
    max-height: none;
    border-radius: var(--border-radius);
    aspect-ratio: 4 ;
}



  .visual {
    display: none;
  }
}












@media (max-height: 32vw) {
.right-part {
    width: 25%;
    height: 80%;
    display: grid;
  grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; /* ici la correction */
    grid-column-gap: 6%;
    grid-row-gap: 6%;
    
    position: fixed;
    right: 5%;
    top: 6vw;
}

  .model { grid-area: 1 / 1 / 2 / 2; }
  .right-part .price { grid-area: 1 / 2 / 2 / 3; }
  .part-bottom { grid-area: 2 / 1 / 3 / 3; }


  .description {
    display: none;
  }
  .brand {
    display: none;
  }

.part-bottom {
  width: 100%;
  height: 100%;
  display: flex; /* ou grid si tu préfères */
  flex-direction: column;
  box-sizing: border-box;
  max-height: none;
}
.presentation-configure {
  width: 100%;
  height: 100%;
  gap: 1vw;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
}

.presentation-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  height: min-content;
  max-height: 6vw;
  min-height: none;
  gap: 0.5vw; 
  width: 100%;
  box-sizing: border-box;
}

.presentation-info {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  padding: 0.5vw;
  box-sizing: border-box;
  text-align: center;
  font-size: 0.7vw;
  overflow: hidden;
}

.presentation-info img {
  width: 2.8vw;
  max-width: 100%;
  height: auto;
}

.configureBtn {

  width: 100%;
  height: 3vw; 
  border-radius: 0.5vw;
  border: 0.3vw solid var(--primary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 1vw;
  cursor: pointer;
  box-sizing: border-box;
}


.catalog {
    max-height: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: visible;
    row-gap: 3vw;
    column-gap: 1.5vw;
    padding: 3vw 0;
    transition: all 0.5s ease-in-out;
}

/* Les cartes prennent 30% de largeur */
.catalog .card {
    width: max-content;
    min-width: 28%;
    height: auto;
    max-height: none;
    border-radius: var(--border-radius);
    aspect-ratio: 4 ;
}


  .little-visual {
      display: none !important;
      height: 13.6vw;
  }
  .visual {
    display: none;
  }
}





